th {
  white-space: nowrap;     /* Evita saltos de línea */
}

.cabeceraTabla, .iconoCabeceraTabla {
  display: inline-block;
  vertical-align: middle;  /* Alinea verticalmente */
}

.iconoCabeceraTabla {
  margin: 5px 12px;        /* Espacio entre texto e icono */
}

.cabeceraFiltrada{
  border: 2px solid yellowgreen;
}

.iconoCabeceraTabla:hover{
  background-color: rgba(127, 255, 212, 0.279);
  /* cursor: pointer; */
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

th{
  cursor: pointer;

}